*{
      padding: 0;
      margin: 0;
}
body{
      font-size: 1em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color:cornflowerblue;
}

#topbar{
      background-color: #f6c02b;
      height: 150px;
      width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
}

#title{
      text-align: center;
      margin: 20px, auto;
      font-size: 36px;
      position: relative;
      top: 30%;
      color:black;
}
#white{
      color: azure;
}

#links{
      text-align: center;
      top: 30%;
      padding: 60px
}

a{
      font-size: 1em;
      padding: 3%;
      text-decoration: none;
      color: azure;
      margin: 5%, auto;
}

a:hover{
      color: #f6c02b;
}
